@media(min-width:576px)
{
  .header{
    width: 1349px;
    height: 88px;
  }
  .contain{
    width:1349px;
  }

}
  @media(max-width:576px)
{
  .header{
    width:1349px;
    height: 88px;
  }
   .contain{
    width:1349px;
  }
  
}
