*{
    margin: 0px;
    padding: 0px;
    font-size:12px;
    font-family:"Microsoft YaHei";
}
.header{
    width: 100%;
    height: 88px;
    border-bottom: 1px solid #eaeaea;
    position: relative;
}
.header-content{
    width: 92%;
    height: 88px;
    /**border: 1px solid red;**/
    position: absolute;
    top: 50%;
    left: 50%;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;

}
.header-content .btn-trk{
    width:60px;
    height: 33px;
    line-height: 33px;
    float: left;
    border: none;
    border-radius: 15px;
    background-color: #1f70f8;
    color: #fdffff;
    margin: 30px 0 0 0px;
    text-align: center;
    cursor: pointer;
}
.header-content .search-box{
    width:388px;
    height: 38px;
    box-sizing: border-box;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    float: left;
    margin-left: 208px;
    margin-top:25px;
    overflow: hidden;
}
.search-box{
    box-sizing: border-box;
    width:340px;
    /*width: 26.7%;*/
    height: 35px;
    border: none;
    outline: none;
    padding-left: 10px;
    font-size: 16px;
    
}
.search-ico{
    margin:36px 0px 0px -22px;
    color:#1f70f8;
}
.header-content .person{
  /**  border: 1px solid red;**/
    width: 77px;
    height: 38px;
    float: right;
    margin-top:23px;
}
.person .bell-ico{
    font-size: 16px;
    margin-top:10px;
    color: #8da2aa;
}
.person .person-img{
    width: 36px;
    height:36px;
    float: right;
    border-radius: 50%;
}
.contain{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
.contain .left{
    width:20%;
    height: 100%;
    box-sizing: border-box;
    float: left;
}
.left .discover{
   /* max-width: 146px;
    max-height: 153px;*/
    font-size:1rem;
    width: 146px;
    height: 153px;
    margin:45px  140px 0px 54px;
   /* margin:16.5% 16.5% 0 22%;*/

}
.discover .discover-item li{
    height: 12px;
    line-height: 12px;
    margin:20px 0px;
}
a{
    text-decoration: none;
    margin: 0px 10px;
    color: #8c8c8c;
}
.active{
    color: #1e70f5;
}
.discover>span{
    text-transform:uppercase;
}
.contain .right{
    height: 100%;
    min-height: 900px;
    width: 80%;
    float: right;
    box-sizing: border-box;
    border-left: 1px solid #eaeaea;
    background: #fbfbfb;
}
.right .right-header{
    width: 100%;
    height: 70px;
    border-bottom: 1px solid #eaeaea;
}
.right-header .nav{
    width: 300px;
    height: 70px;
    position: relative;
    margin: 0px auto;
}
.right-header .nav li{
    width: 75px;
    height: 70px;
    line-height: 70px;
    float: left;
    list-style-type: none;
    color: #8c8c8c;
    font-weight: bold;
}
.nav .nav-bottom{
    width: 75px;
    height: 70px;
    border-top: 1px solid #1f70f8;
    position: absolute;
    top: 70px;
    left: 0px;
    -webkit-transition:left .1s ease-in-out;
    transition:left .5s ease-in-out;
}
.nav li:nth-child(1):hover~ .nav-bottom{
	left: 0px;	
}
.nav li:nth-child(2):hover~ .nav-bottom{
	left: 75px;	
}
.nav li:nth-child(3):hover~ .nav-bottom{
	left: 150px;	
}
.nav li:nth-child(4):hover~ .nav-bottom{
	left: 225px;	
}
.right .right-content{
    width: 90%;
    height: 100%;
    margin: 40px auto;
    overflow: hidden;
    /**border: 1px solid red;**/
}
.right-content .social{
    width: 302px;
    height: 438px;
    display: inline-block;
    float: left;
    box-sizing: border-box;
    margin-bottom:37px;
    /*border: 1px solid green;*/
}
.mr{
    margin-right: 30px;
}
.social-write{
    width: 290px;
    height: 438px;
    margin:0 auto;
    background: #ffffff;
    border: 1px solid #efefef;
    position: relative;
    box-sizing: border-box;
}

.social-top{
    margin: 12px auto;
    width: 260px;
    height: 39px;
    line-height: 39px;
    position: absolute;
}
.social-top  span{
    color: #1b1e1e;
    font-weight: bold;
    position: absolute;
    margin: 0px 10px;
}
.social-person{
    width: 36px;
    height: 36px;
    margin-left: 20px;
    border-radius: 50%;
}
.social .social-content{
    position: absolute;
    top:68px;
    left:-8px;
    width: 302px;
    height: 300px;
    background: url(../images/person-bg1.jpg);
    background-size:cover;/*保持图像本身的宽高比例//*/
}

.social-footer{
    width: 180px;
    height: 26px;
    position: absolute;
    bottom: 16px;
    left: 55px;
    color: #c3c3c3;
}
.social-footer span{
   margin: 0px 8.9px;
}
